[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiocron = "*"
python-telegram-bot = "*"
scrython = "*"
nest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.6"
